/* Variables */


$col-gris1:#414141;
$col-gris2:#b9b9b9;
$col-gris3:#f2f2f2;
$col-gris4: #494141;

$col-rojo:#D12323;
$col-rojo2:#d53838d4;
$col-rojo3:#eb7f7f;
$col-blanco:#fff;

$col-negro: #181818;
$col-negro2: #222222;

$box-shadow-contacto: 0 0 20px 0 rgba(255, 255, 255, .3);
$back-contacto: rgb(19, 19, 19);